.register {
  margin-top: 26px;
  padding: 48px 32px;
  width: 384px;
  height: 599px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-shadow: 0 22px 106px rgba(0, 0, 0, 0.07), 0 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198), 0 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0 2.75474px 13.2728px rgba(0, 0, 0, 0.035), 0 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
  border-radius: 6px;
}

.form {
  &__label {
    display: block;
    margin-top: 12px;
  }
  &__label_title {
    display: inline-block;
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #262626;
  }
  &__input {
    padding-left: 12px;
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.75);
}
  &__input:focus {
    outline: none;
  }
  &__input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  &__checkbox {
    display: flex;
    margin: 21px 0;
  }
  &__checkbox_text {
    padding-left: 8px;
    display: inline-block;
    cursor: pointer;
  }
  &__submit {
  }
  &__submit_input {
    display: block;
    width: 100%;
    height: 40px;
    background: #1890FF;
    border: none;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
  }
  &__submit_span {
    text-align: center;
    display: block;
    padding-top: 8px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #8C8C8C;
  }
}